# Python program to Extract Unique values dictionary values

In [27]:
# Using Below as a dictionary

ans = {}

data = {
    'a' : [1,2,3,4],
    'b' : [4,5,6,7]
}

ans = {ele for i in data.values() for ele in i}

ans

# 4 is removed from the ans

{1, 2, 3, 4, 5, 6, 7}

# Python program to find the sum of all items in a dictionary

In [29]:
data = {
    'a' : 120,
    'b' : 50
}

In [34]:
sum = 0

for i in data.values():
    sum = sum + i

print(sum)

170

# Python program to Merging two Dictionaries

In [ ]:
data1 = {
    'a' : 12,
    'c' : 53
}
data2 = {
    'd' : 10,
    'e' : 72
}

data1.update(data2)

data1

# Python program to convert key-values list to flat dictionary

In [46]:
data = {
    'names' : ['Ramesh', 'Suresh', 'Lokesh', 'Sarthak'],
    'ages': [40,45,50, 70]
}

dict(zip(data['names'], data['ages']))

{'Ramesh': 40, 'Suresh': 45, 'Lokesh': 50, 'Sarthak': 70}

#  Python program to insertion at the beginning in OrderedDict

In [62]:
data = {
    'a' : 1,
    'b': 2
}

t= {'z' : 0}

In [63]:
 t.update(data)

In [64]:
t

{'z': 0, 'a': 1, 'b': 2}

# Python program to sort Python Dictionaries by Key or Value

In [74]:
data = {
    'z' : 2,
    'b': 1,
    't': 12,
    'd': 98
    
}

new = {}

{i : j  for i,j in sorted(data.items())}

{'b': 1, 'd': 98, 't': 12, 'z': 2}